.tours-details{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width: 91.6667%;
    margin: 0 auto;

}
.alltours{
    display: flex;  
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    /* margin: 0 auto; */
    justify-content: center;
    align-items: center;
    

}
.refresh-btn{
    display: flex;
    justify-content: center;
    align-items: center;
     height: 100vh;
}
.btn{
text-transform: uppercase;
font-weight: bold;
font-size: large;
padding: 20px;
cursor: pointer;
border: 1px solid  black;
/* background-color: #d34a4a;
 */
background: linear-gradient(180deg, rgba(204,231,255,0.8) 0%, rgba(255,255,255,1) 100%);

}