* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.tourism{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;

}
.heading{
font-size: 50px;
margin: 0 auto;
border: 7px dashed rgb(13, 13, 189);
border-radius: 10px;
margin-top: 30px;
padding: 15px;
}